@import './base.scss';

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    font-weight: bold;
    line-height: 100%;
    text-transform: uppercase;
}

h1 {
    font-size: 80px;
}
h2 {
    font-size: 42px;
}

p, span, li, a {
    font-family: 'Montserrat';
    font-weight: light;
}

#app {
    height: 100%;
}
